Flask_SQLAlchemy==2.5.1
WTForms==2.2.1
html2text==2020.1.16
Werkzeug==1.0.0
Flask==1.1.1
Flask_Login==0.5.0
Flask_WTF==0.14.3
keyring==23.2.1
pyopenssl==20.0.0
pymysql==1.1.0
email-validator==2.0.0.post2
gunicorn