

@media (min-width: 768px) {
   .bd-placeholder-img-lg {
      font-size: 3.5rem;
   }
   .scrollside {
       max-height: 50vh; 
       overflow-y: scroll;
   }
}
      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }
      .inputfile + label * {
        pointer-events: none;
      }
    @media (max-width: 767px) {
     .scrollside {
          max-height: 25vh; 
          overflow-y: scroll;
        }
    }   

body{
    background-color: papayawhip;
}
