<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Dusty Piper, Morgan Reece">
    <title>dogPile Email Client</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/all.css') }}"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}"  rel="stylesheet">
</head>
  <body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/inbox">dogPile Email Client</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navTop" aria-controls="navTop" aria-expanded="false" aria-label="Toggle Nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navTop">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/inbox">Inbox</a>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
           <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fas fa-user-cog" href="#" id="settings" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="settings">
              <li><a class="dropdown-item" onclick="config();" href="#">Configuration</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container-fluid">
  <div class="row">
   
    <main class="col-13 col-md-3">
   {% block emaillist %}{% endblock %}
   </main>
   <main class="col-13 col-md-9 p-3">
   {% block content %}{% endblock %}
   </main>
  </div>
  
</div>
{% block config%}{% endblock%}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>  
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}" ></script>  

</body>
</html>