<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dogPile Email Client</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/all.css') }}"  rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
  </head>
<body >
       <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4">
                    <form method="POST" class="row g-3">
                        <h4>dogPile Email Client</h4>
                        <div class="col-12">
                            <label>Username</label>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark float-end">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>  
</body>
</html>